@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

body {
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff9f9;
  color: #222;
  max-width: 95%;
  margin: 0 auto;
  padding: 30px 40px;
}

nav {
  background-color: transparent;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  background-color: #992e6d;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #c94d8e;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  nav ul li a {
    width: 200px;
    text-align: center;
  }
}

h2 {
  color: #992e6d;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-he
